{% load static %}
{% load has_perm_project %}
<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
            <a href="{% url 'sprints.members.index' id_project id_sprint %}" class="nav-link">
                <i class="nav-icon fas fa-users"></i>
                <p>Miembros</p>
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'sprints.sprint_backlog.index' id_project id_sprint %}" class="nav-link">
                <i class="nav-icon fas fa-table"></i>
                <p>Sprint Backlog</p>
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'sprints.index' id_project %}" class="nav-link">
                <i class="nav-icon fas fa-backward"></i>
                <p>Volver</p>
            </a>
        </li>
    </ul>
</nav>
<!-- /.sidebar-menu -->