{% extends 'base/app.html' %}

{% load static %}
{% load has_perm_system %}
{% load has_perm_project %}

{% block title %}
    | Proyectos
{% endblock %}

{% block content %}

    <!-- Main content -->
    <section class="content">

        <!--MESSAGES-->
        {% if messages %}
            <ul class="messages my-2">
                {% for message in messages %}
                    <div {% if message.tags %}
                        class="{{ message.tags }} text-white alert-dismissible fade show alert alert-success"{% endif %}
                        role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>
                {% endfor %}
            </ul>
        {% endif %}
        <!--MESSAGES END-->

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="d-flex mb-2 justify-content-between">
                    <div class="col-sm-6">
                        <h1>Proyectos</h1>
                    </div>

                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    {% has_perm_system user 'Create project' as ban %}
                    {% if ban %}
                        <a class="btn btn-primary btn-sm" href="{% url 'projects.create' %}">
                            <i class="fas fa-plus">
                            </i>
                            Crear
                        </a>
                    {% endif %}
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table table-striped projects">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre del Proyecto</th>
                            <th>Miembros</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for project in projects %}
                            <tr>
                                <td>#</td>
                                <td>
                                    <a>{{ project.name }}</a>
                                    <br/>
                                    <small>Created {{ project.created_at.date }}</small>
                                </td>
                                <td>
                                    <ul class="list-inline">
                                        {% for user in project.members.values %}
                                            <li class="list-inline-item">
                                                <img alt="Avatar" class="table-avatar"
                                                     src="{% static "lib/adminlte-3.2.0/img/avatar.png" %}">
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    <span class="badge
                                    {% if project.status == 'success' %}
                                        badge-success
                                    {% elif project.status == 'pending' %}
                                        badge-warning
                                    {% elif project.status == 'canceled' %}
                                        badge-danger
                                    {% elif project.status == 'in execution' %}
                                        badge-info
                                    {% endif %}">{{    project.status.capitalize}}</span>
                                </td>
                                <td class="project-actions d-flex justify-content-end" style="gap:10px">
                                    {% is_member user project.id as ban %}
                                    {% if ban %}
                                        <a class="btn btn-primary btn-sm"
                                           href="{% url 'projects.dashboard' project.id %}">
                                            <i class="fas fa-folder">
                                            </i>
                                            Ver
                                        </a>
                                    {% endif %}
                                    {% has_perm_project user project.id 'Update project' as ban %}
                                    {% if ban and project.status != 'canceled' %}
                                        <a class="btn btn-info btn-sm" href="{% url 'projects.edit' project.id %}">
                                            <i class="fas fa-pencil-alt">
                                            </i>
                                            Editar
                                        </a>
                                    {% endif %}

                                    {% has_perm_project user project.id 'Initialize project' as ban %}
                                    {% if ban and project.status == 'pending' %}
                                        <form class="m-0 p-0"
                                              action="{% url 'projects.init_project' project.id %}">
                                            <button type="submit" class="btn btn-success btn-sm">
                                                <i class="fa fa-play" aria-hidden="true"></i>
                                                Iniciar Proyecto
                                            </button>
                                        </form>
                                    {% endif %}

                                    {% has_perm_project user project.id 'Cancel project' as ban %}
                                    {% if ban and project.status != 'canceled' %}
                                        <form class="m-0 p-0"
                                              action="{% url 'projects.cancel' project.id %}">
                                            <button type="submit" class="btn btn-danger btn-sm">
                                                <i class="fas fa-trash">
                                                </i>
                                                Cancelar
                                            </button>
                                        </form>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        {% if projects.count == 0 %}
                            <tr class="text-center">
                                <td colspan="6"><span class="text-danger">Aun no perteneces a ningun proyecto!</span>
                                </td>
                            </tr>
                            <tr class="text-center">
                                <td colspan="6"><span class="text-warning">Contacte con el administrador de su empresa para ser agregado a un proyecto </span>
                                </td>
                            </tr>

                        {% endif %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->

    </section>

{% endblock %}

{% block scripts %}
    <script src="{% static 'lib/adminlte-3.2.0/plugins/jquery-validation/jquery.validate.min.js' %}"></script>
    <script src="{% static "lib/adminlte-3.2.0/plugins/jquery-validation/additional-methods.min.js" %}"></script>
    <script>
        //validations rules
        $(function () {

            $('#createProjectForm').validate({
                rules: {
                    name: {
                        required: true,
                        minlength: 4
                    },
                    description: {
                        required: true,
                        minlength: 4,
                        maxlength: 500
                    },
                    user: {
                        required: true
                    },

                },
                messages: {
                    name: {
                        required: "El nombre es obligatorio",
                        minlength: "Ingrese un minimo de 4 caracteres"
                    },
                    description: {
                        required: "La descripcion del proyecto es obligatoria",
                        minlength: "Ingrese un minimo de 4 caracteres",
                        maxLength: "Ingrese un maximo de 500 caracteres"
                    },
                    user: {
                        required: "Debe seleccionar un usuario"
                    }
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });
    </script>
{% endblock %}