{% extends 'base/app.html' %}

{% load static %}

{% block title %}
    | Miembros del Proyecto
{% endblock %}

{% block styles %}
    {# SELECT2   #}
    <link rel="stylesheet" href="{% static "lib/adminlte-3.2.0/plugins/select2/css/select2.min.css" %}">
    <link rel="stylesheet"
          href="{% static "lib/adminlte-3.2.0/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" %}">
{% endblock %}

{% block sidebar %}
    {% include 'projects/base/partials/nav.html' %}
{% endblock %}

{% block active_section %}
    <span id="active-section" data-value="members"></span>
{% endblock %}

{% block content %}
    <br>
    <section class="content">
        {% include 'base/components/success-message.html' %}

        <div class="card card-primary m-2">
            <div class="card-header">
                <h3 class="card-title">Editar Miembro</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form id="createProjectForm" action="{% url 'projects.members.update' id_project member.id %}" method="post">
                {% csrf_token %}
                <div class="card-body">
                    <div class="form-group">
                        <label for="name" class="required">Usuario</label>
                        <input type="text" class="form-control" value="{{ member.username }}" disabled>
                    </div>

                    <div class="form-group">
                        <label for="name" class="required">Email</label>
                        <input type="text" class="form-control" value="{{ member.email }}" disabled>
                    </div>

                    <div class="form-group">
                        <label>Roles</label>

                          <select class="select2" multiple="multiple" data-placeholder="Select a State" name="roles[]"
                                data-dropdown-css-class="select2-purple"
                                style="width: 100%;">
                            {% for role in roles %}
                                <option value="{{ role.id }}"
                                        {% if role in current_roles %}
                                            selected
                                        {% endif %}
                                >{{ role.role_name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>

    </section>

{% endblock %}


{% block scripts %}
    <!-- Select2 -->
    <script src="{% static "lib/adminlte-3.2.0/plugins/select2/js/select2.full.min.js" %}"></script>
    <script src="{% static 'lib/adminlte-3.2.0/plugins/jquery-validation/jquery.validate.min.js' %}"></script>
    <script src="{% static "lib/adminlte-3.2.0/plugins/jquery-validation/additional-methods.min.js" %}"></script>
    <script>
        //validations rules
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2();

            $('#createProjectForm').validate({
                rules: {
                    user_id: {
                        required: true
                    },
                    'roles[]': {
                        required: true
                    }

                },
                messages: {
                    user_id: {
                        required: "Debe seleccionar un miembro"
                    },
                    'roles[]': {
                        required: "Debe seleccionar al menos un rol"
                    }
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });
    </script>
{% endblock %}