{% extends 'base/app.html' %}
{% load static %}
{% load has_perm_project %}

{% block title %}
    | Miembros del Proyecto
{% endblock %}

{% block sidebar %}
    {% include 'projects/base/partials/nav.html' %}
{% endblock %}

{% block active_section %}
    <span id="active-section" data-value="members"></span>
{% endblock %}

{% block content %}
    {% has_perm_project user id_project 'Create projectmember' as can_create %}
    {% has_perm_project user id_project 'Update projectmember' as can_edit %}
    {% has_perm_project user id_project 'Delete projectmember' as can_delete %}
    <br>
    <section class="content">
        {% include 'base/components/success-message.html' %}
        <div class="container-fluid">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="d-flex mb-2 justify-content-between">
                        <div class="col-sm-6">
                            <h1>Miembros del Proyecto</h1>
                        </div>

                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- /.row -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">

                            {% if can_create and is_visible %}
                                <a class="btn btn-primary btn-sm" href="{% url 'projects.members.create' id_project %}">
                                    <i class="fas fa-plus">
                                    </i>
                                    Agregar
                                </a>
                            {% endif %}
                        </div>
                        <!-- /.card-header -->

                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th colspan="2">Acción</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for member in members %}
                                    <tr>

                                        <td>
                                            {% is_scrum_master member as ban %}
                                            {% if ban %}
                                                <i class="fas fa-crown"></i>
                                            {% endif %}
                                            {{ member.user.username }}
                                        </td>

                                        <td> {{ member.user.email }}</td>

                                        <td class="d-flex" style="gap: 5px">

                                            {% if can_edit and is_visible %}
                                                <a class="btn btn-info btn-sm"
                                                   href="{% url 'projects.members.edit' id_project member.user.id %}">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>
                                                    Editar
                                                </a>
                                            {% endif %}

                                            {% if can_delete and is_visible %}
                                                <form action="{% url 'projects.members.delete' id_project member.user.id %}"
                                                      method="post">
                                                    {% csrf_token %}
                                                    <button class="btn btn-danger btn-sm">
                                                        <i class="fas fa-trash">
                                                        </i>
                                                        Eliminar
                                                    </button>
                                                </form>
                                            {% endif %}

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div>
    </section>

{% endblock %}