{% extends 'projects/base/app.html' %}

{% load static %}

{% block title %}
    | Miembros del Proyecto
{% endblock %}

{% block content %}
    <br>
    <section class="content">
        {% include 'base/components/success-message.html' %}
        <div class="container-fluid">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="d-flex mb-2 justify-content-between">
                        <div class="col-sm-6">
                            <h1>Miembros del Proyecto</h1>
                        </div>

                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- /.row -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">

                        <a class="btn btn-primary btn-sm" href="{% url 'projects.members.create' id_project %}">
                            <i class="fas fa-plus">
                            </i>
                            Agregar
                        </a>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th colspan="2">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for member in members %}
                                    <tr>
                                        <td> {{ member.user.username }}</td>
                                        <td> {{ member.user.email }}</td>

                                        <td class="d-flex" style="gap: 5px">
                                            <a class="btn btn-info btn-sm"
                                               href="{% url 'projects.members.edit' id_project member.user.id %}">
                                                <i class="fas fa-pencil-alt">
                                                </i>
                                                Editar
                                            </a>

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div>
    </section>

{% endblock %}