{% load static %}
{% load has_perm_project %}
<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        {% has_perm_project user id_project 'Read projectmember' as ban %}
        {% if ban %}
            <li class="nav-item">
                <a href="{% url 'projects.members.index' id_project %}" class="nav-link">
                    <i class="nav-icon fas fa-users"></i>
                    <p>Miembros</p>
                </a>
            </li>
        {% endif %}
        {% has_perm_project user id_project 'Read role' as ban %}
        {% if ban %}
            <li class="nav-item">
                <a href="{% url 'projects.index_role' id_project %}" class="nav-link">
                    <i class="nav-icon fas fa-user-cog"></i>
                    <p>Roles de proyecto</p>
                </a>
            </li>
        {% endif %}
        {% has_perm_project user id_project 'Read user_story' as ban %}
        {% if ban %}
            <li class="nav-item">
                <a href="{% url 'user_story.backlog' id_project %}" class="nav-link">
                    <i class="nav-icon fas fa-table"></i>
                    <p>Backlog</p>
                </a>
            </li>
        {% endif %}
        {% has_perm_project user id_project 'Read typeus' as ban %}
        {% if ban %}

            <li class="nav-item">
                <a href="{% url 'type_us.index' id_project %}" class="nav-link">
                    <i class="nav-icon fas fa-project-diagram"></i>
                    <p>Tipos de US</p>
                </a>
            </li>
        {% endif %}

        {% has_perm_project user id_project 'Read sprint' as ban %}
        {% if ban %}

            <li class="nav-item">
                <a href="{% url 'sprints.index' id_project %}" class="nav-link">
                    <i class="nav-icon fas fa-layer-group"></i>
                    <p>Sprint</p>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
<!-- /.sidebar-menu -->