{% load static %}
<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-item">
            <a href="{% url 'gestionar_roles.create' %} " class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>Crear Rol</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'gestionar_roles.index' %} " class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>Listar Roles</p>
            </a>
        </li>


        <li class="nav-item">
            <a href="{% url 'user_story.backlog' id_project %}" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>Backlog</p>
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'user_story.backlog' id_project %}" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>Backlog</p>
            </a>
        </li>

         <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="far fa-id-card"></i>
              <p>
                Tipos de US
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'type_us.index' id_project %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Listar</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'type_us.create' id_project %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Crear</p>
                </a>
              </li>
            </ul>
          </li>

    </ul>
</nav>
<!-- /.sidebar-menu -->