{% extends 'base/app.html' %}

{% load static %}
{% load has_perm_project %}

{% block title %}
    | Roles
{% endblock %}

{% block sidebar %}
    {% include 'projects/base/partials/nav.html' %}
{% endblock %}

{% block active_section %}
    <span id="active-section" data-value="project_roles"></span>
{% endblock %}

{% block content %}
    {% has_perm_project user id_project 'Create role' as can_create_role %}

    {% has_perm_project user id_project 'Update role' as can_update_role %}
    {% has_perm_project user id_project 'Delete role' as can_delete_role %}
    {% has_perm_project user id_project 'Import role' as can_import_role %}

    <!-- Main content -->
    <section class="content">
        <!--MESSAGES-->
        {% include 'base/components/success-message.html' %}
        <!--MESSAGES END-->

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="d-flex mb-2 justify-content-between">
                    <div class="col-sm-6">
                        <h1>Roles del Proyecto</h1>
                    </div>

                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    {% if can_create_role %}
                        <a class="btn btn-primary btn-sm" href="{% url 'projects.create_role' id_project %}">
                            <i class="fas fa-plus">
                            </i>
                            Crear
                        </a>
                    {% endif %}
                    {% if can_import_role %}
                        <a href="{% url 'projects.import_role' id_project %}" class="btn btn-info btn-sm">
                            <i class="nav-icon fas fa-download"></i>
                            Importar
                        </a>
                    {% endif %}
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table table-striped projects">
                        <thead>
                        <tr>
                            <th style="width: 1%">
                                #
                            </th>
                            <th style="width: 20%">
                                Nombre del Rol
                            </th>
                            <th style="width: 30%">
                                Descripción
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {% for role in roles %}
                                <td>
                                    {{ role.id }}
                                </td>

                                <td>
                                    <a>
                                        {{ role.role_name }}
                                    </a>

                                </td>
                                <td>
                                    <a>
                                        {{ role.description }}
                                    </a>

                                </td>

                                <td class="roles-actions text-right">
                                    {#                                    <a class="btn btn-primary btn-sm" href="#">#}
                                    {#                                        <i class="fas fa-folder">#}
                                    {#                                        </i>#}
                                    {#                                        View#}
                                    {#                                    </a>#}

                                    {% if can_update_role %}
                                        <a class="btn btn-info btn-sm"
                                           href="{% url 'projects.edit_role' id_project role.id %}">
                                            <i class="fas fa-pencil-alt">
                                            </i>
                                            Editar
                                        </a>
                                    {% endif %}
                                    {% if can_delete_role and role.role_name != 'Scrum Master' %}
                                        <a class="btn btn-danger btn-sm"
                                           href="{% url 'projects.delete_role' id_project role.id %}">
                                            <i class="fas fa-trash">
                                            </i>
                                            Eliminar
                                        </a>
                                    {% endif %}
                                </td>
                                </tr>
                            {% endfor %}


                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->

    </section>

{% endblock %}
