{% extends 'base/app.html' %}

{% load static %}

{% block title %}
    | Create User
{% endblock %}

{% block sidebar %}
    {% include 'base/partials/nav.html' %}
{% endblock %}

{% block active_section %}
    <span id="active-section" data-value="users"></span>
{% endblock %}

{% block content %}
    <!--MESSAGES-->
    {% include 'base/components/success-message.html' %}
    <!--MESSAGES END-->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title"><small>Crear Nuevo Usuario</small></h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form id="create_user_form" method="post" action="{% url 'accounts.validate_user' %}">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="id_username">Username</label>
                                    <input type="text" name="username" class="form-control" id="id_username"
                                           placeholder="Ingrese el Username">
                                </div>
                                <div class="form-group">
                                    <label for="id_first_name">Nombre</label>
                                    <input type="text" name="first_name" class="form-control" id="id_first_name"
                                           placeholder="Ingrese el Nombre">
                                </div>
                                <div class="form-group">
                                    <label for="id_last_name">Apellido</label>
                                    <input type="text" name="last_name" class="form-control" id="id_last_name"
                                           placeholder="Ingrese el Apellido">
                                </div>
                                <div class="form-group">
                                    <label for="id_email">Email</label>
                                    <input type="email" name="email" class="form-control" id="id_email"
                                           placeholder="Ingrese el Email">
                                </div>
                                <div class="form-group">
                                    <label for="id_password">Contraseña</label>
                                    <input type="password" name="password" class="form-control" id="id_password"
                                           placeholder="Ingrese la contraseña">
                                </div>
                                <div class="form-group">
                                    <label>Role System</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="id_role_sys"
                                            name="role_sys">
                                        <option selected="selected">visitor</option>
                                        <option>admin</option>
                                        <option>user</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Rol de sistema</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="id_role_system"
                                            name="role_system">
                                        {% for rol in roles %}
                                            <option value="{{ rol.id }}">{{ rol }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Crear</button>
                                <a class="btn btn-secondary mx-3" href="{% url 'accounts.index' %}">Cancelar</a>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}
