{% extends 'base/app.html' %}

{% load static %}

{% block title %}
    | Edit User
{% endblock %}

{% block content %}

    <!-- Main content -->
    <section class="content">

        {% include 'base/components/success-message.html' %}

        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title"><small>Editar Usuario</small></h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form id="edit_user_form" method="post" action="{% url 'accounts.validate_edit_user' %}">
                            <input type="hidden" name="user_username" value="{{ u.username }}">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="id_username">Username</label>
                                    <input type="text" name="username" class="form-control" id="id_username"
                                           placeholder="Enter Username" disabled value="{{ u.username }}">
                                </div>
                                <div class="form-group">
                                    <label for="id_first_name">Nombre</label>
                                    <input type="text" name="first_name" class="form-control" id="id_first_name"
                                           placeholder="Enter First Name" value="{{ u.first_name }}">
                                </div>
                                <div class="form-group">
                                    <label for="id_last_name">Apellido</label>
                                    <input type="text" name="last_name" class="form-control" id="id_last_name"
                                           placeholder="Enter Last Name" value="{{ u.last_name }}">
                                </div>
                                <div class="form-group">
                                    <label for="id_email">Email</label>
                                    <input type="email" name="email" class="form-control" id="id_email"
                                           placeholder="Enter Email" disabled value="{{ u.email }}">
                                </div>
                                <div class="form-group">
                                    <label>Role System</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="id_role_sys"
                                            name="role_sys">
                                        <option selected="selected">{{ u.role_sys }}</option>
                                        {% if u.role_sys == 'visitor' %}
                                            <option>admin</option>
                                            <option>user</option>
                                        {% elif u.role_sys == 'user' %}
                                            <option>admin</option>
                                            <option>visitor</option>
                                        {% else %}
                                            <option>user</option>
                                            <option>visitor</option>
                                        {% endif %}

                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Rol</label>
                                     <select class="form-control select2bs4" style="width: 100%;" id="id_role_system"
                                            name="role_system">
                                        {% for role in roles %}
                                            <option {% if role == role_system %}
                                                selected
                                            {% endif %}
                                                value="{{ role.id }}">{{ role }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Actualizar</button>
                                <a class="btn btn-secondary mx-3" href="{% url 'accounts.index' %}">Cancelar</a>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}


<!--        <form class="signup" id="signup_form" method="post" action="{% url 'accounts.user' %}">-->
<!--            {% csrf_token %}-->
<!--            {% if redirect_field_value %}-->
    <!--            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>-->
    <!--            {% endif %}-->
<!--            <button type="submit">Create User</button>-->
<!--        </form>-->
