{% extends 'base/app.html' %}

{% load static %}

{% block title %}
    | {{ user.first_name }} {{ user.last_name }}
{% endblock %}

{% block content %}

    {% if user.role_sys == 'admin' %}
        <br>
        <section class="content">

            {% include 'base/components/success-message.html' %}

            <div class="container-fluid">

                <!-- /.row -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">System Users List</h3>

                                <div class="card-tools">
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                        <input type="text" name="table_search" class="form-control float-right"
                                               placeholder="Search">

                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-default">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover text-nowrap">
                                    <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email Address</th>
                                        <th>System Role</th>
                                        <th>System Role</th>
                                        <th colspan="2">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in users %}
                                        <tr>
                                            <td> {{ user.username }}</td>
                                            <td> {{ user.first_name }}</td>
                                            <td> {{ user.last_name }}</td>
                                            <td> {{ user.email }}</td>
                                            <td> {{ user.role_sys }}</td>
                                            {% for rol in user.role.all %}
                                                <td> {{ rol }}</td>
                                            {% endfor %}
                                            <td class="d-flex" style="gap: 5px">
                                                <a class="btn btn-info btn-sm"
                                                   href="{% url 'accounts.edit_user' user.username %}">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>
                                                    Editar
                                                </a>
                                                <form class="m-0 p-0"
                                                      action="{% url 'accounts.delete' user.username %}">
                                                    <button type="submit" class="btn btn-danger btn-sm">
                                                        <i class="fas fa-trash">
                                                        </i>
                                                        Eliminar
                                                    </button>

                                                </form>

                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </section>
    {% endif %}

{% endblock %}