{% extends 'base/app.html' %}

{% load static %}

{% block title %}
    | Visitante
{% endblock %}

{% block sidebar %}
    {% include 'base/partials/nav.html' %}
{% endblock %}

{% block active_section %}
    <span id="active-section" data-value="users"></span>
{% endblock %}


{% block content %}

    <div class="text-center">
        </br>
        <p>Hola {{ user.first_name }}!</p>
        <p>Tu nombre de usuario es: {{ user }}</p>
        <p>Eres un Visitiante, contacta con el administrador para que puedas acceder al sistema</p>
        <p>admin@gmail.com</p>
    </div>
{% endblock %}