<div class="col-12 col-md-12 h-100">
    <div class="card card-primary card-tabs h-100">

        <!--TABS LINKS-->
        {% include 'base/components/kanban/tab-links.html' %}
        <!--END TABS LINKS-->

        <!--TABS CONTENT-->
        <div class="card-body">
            <div class="tab-content h-100" id="custom-tabs-one-tabContent">
                {% for type in types_us %}
                    <div class="h-100 tab-pane fade {% if forloop.counter == 1 %} active show {% endif %}"
                         id="custom-tabs-{{ type.id }}" role="tabpanel"
                         aria-labelledby="custom-tabs-{{ type.id }}-tab">
                        <section class="content pb-3 h-100">
                            <div class="container-fluid h-100 status-column-container">
                                {% for column in type.array_flow %}
                                    <!--Column status-->
                                    <div class="card card-row card-secondary">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                {{ column }}
                                            </h3>
                                        </div>

                                        <div class="card-body status-column" data-flow-name="{{ column }}">
                                            <!--USERS STORIES CARD-->
                                            {% include 'base/components/kanban/user_story_card.html' %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </section>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- /.card -->
    </div>
</div>