{% extends 'base/app.html' %}

{% load static %}

{% block title %}
    | Cancelar Proyecto
{% endblock %}

{% block styles %}
    {# SELECT2   #}
    <link rel="stylesheet" href="{% static "lib/adminlte-3.2.0/plugins/select2/css/select2.min.css" %}">
    <link rel="stylesheet"
          href="{% static "lib/adminlte-3.2.0/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" %}">
{% endblock %}

{% block sidebar %}
    {% include 'sprint/base/partials/nav.html' %}
{% endblock %}

{% block active_section %}
    <span id="active-section" data-value="sprint"></span>
{% endblock %}

{% block content %}

    <section class="content">

        <div class="card card-primary m-2">

            <div class="card-header">
                <h3 class="card-title"> Cancelar Sprint "{{ sprint.sprint_name }}" </h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form id="cancelProjectForm" action="{% url 'sprints.validate_cancel_sprint' id_project %}" method="post">
                {% csrf_token %}
                <input type="hidden" id="id_sprint" name="id_sprint" value="{{ sprint.id }}">
                <div class="card-body">
                    <div class="form-group">
                        <p></p>
                        <label class="required">Ingrese el motivo de cancelación del Sprint</label>
                        <textarea class="form-control" name="cancellation_reason" id="cancellation_reason" cols="30"
                                  rows="3"
                                  maxlength="500"
                                  placeholder="Motivo..."></textarea>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    <a href=" {% url 'sprints.index' id_project %} "
                       class="btn btn-secondary mx-3">Cancelar</a>
                </div>
            </form>
        </div>
        <!-- /.card -->

    </section>

{% endblock %}

{% block scripts %}
    <!-- Select2 -->
    <script src="{% static "lib/adminlte-3.2.0/plugins/select2/js/select2.full.min.js" %}"></script>
    <script src="{% static 'lib/adminlte-3.2.0/plugins/jquery-validation/jquery.validate.min.js' %}"></script>
    <script src="{% static "lib/adminlte-3.2.0/plugins/jquery-validation/additional-methods.min.js" %}"></script>
    <script>
        //validations rules
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2();

            $('#cancelProjectForm').validate({
                rules: {
                    cancellation_reason: {
                        required: true,
                        minlength: 4,
                        maxlength: 500
                    }
                },
                messages: {
                    cancellation_reason: {
                        required: "Debe ingresar un motivo para cancelar el proyecto",
                        minlength: "Ingrese un minimo de 4 caracteres",
                        maxLength: "Ingrese un maximo de 500 caracteres"
                    }
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });
    </script>
{% endblock %}