{% extends 'projects/base/app.html' %}

{% load static %}

{% block title %}
    | Create Sprint
{% endblock %}

{% block styles %}
    {# SELECT2   #}
    <link rel="stylesheet" href="{% static "lib/adminlte-3.2.0/plugins/select2/css/select2.min.css" %}">
    <link rel="stylesheet"
          href="{% static "lib/adminlte-3.2.0/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" %}">
{% endblock %}

{% block content %}
    <!--MESSAGES-->
    {% include 'base/components/success-message.html' %}
    <!--MESSAGES END-->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title"><small>Crear Nuevo Sprint</small></h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form id="create_sprint_form" method="post"
                              action="{% url 'sprints.validate_create_sprint' id_project %}">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="id_sprint_name">Nombre del Sprint</label>
                                    <input type="text" name="sprint_name" class="form-control" id="id_sprint_name"
                                           placeholder="Enter Sprint Name">
                                </div>
                                <div class="form-group">
                                    <label for="id_start_at">Fecha de Inicio</label>
                                    <input type="date" name="start_at" class="form-control" id="id_start_at"
                                           placeholder="Enter Start Date">
                                </div>
                                <div class="form-group">
                                    <label for="id_end_at">Fecha de Finalización</label>
                                    <input type="date" name="end_at" class="form-control" id="id_end_at"
                                           placeholder="Enter End Date">
                                </div>

                                <div class="form-group">
                                    <label>Historias de Usuario</label>
                                    <select class="select2" multiple="multiple" data-placeholder="Select a US"
                                            data-dropdown-css-class="select2-purple"
                                            style="width: 100%;"
                                            id="user_stories[]"
                                            name="user_stories[]">
                                        {% for user_story in user_stories %}
                                            <option value="{{ user_story.id }}">{{ user_story.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block scripts %}
    <!-- Select2 -->
    <script src="{% static "lib/adminlte-3.2.0/plugins/select2/js/select2.full.min.js" %}"></script>
    <script src="{% static 'lib/adminlte-3.2.0/plugins/jquery-validation/jquery.validate.min.js' %}"></script>
    <script src="{% static "lib/adminlte-3.2.0/plugins/jquery-validation/additional-methods.min.js" %}"></script>
    <script>
        //validations rules
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2();
        });
    </script>
{% endblock %}
