{% extends 'base/app.html' %}
{% load has_perm_project %}
{% block title %}
    | Sprints
{% endblock %}

{% block sidebar %}
    {% include 'sprint/base/partials/nav.html' %}
{% endblock %}

{% block active_section %}
    <span id="active-section" data-value="dashboard"></span>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Dashboard</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Proyecto | Sprint</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>


{#            <div class="row">#}
{#                <div class="col-lg-3 col-6">#}
{#                    <!-- small box -->#}
{#                    <div class="small-box bg-info">#}
{#                        <div class="inner">#}
{#                            <h3>{{ project.members.count }}</h3>#}
{##}
{#                            <p>Miembros</p>#}
{#                        </div>#}
{#                        <div class="icon">#}
{#                            <i class="ion ion-person-add"></i>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                </div>#}
{#                <!-- ./col -->#}
{#                <div class="col-lg-3 col-6">#}
{#                    <!-- small box -->#}
{#                    <div class="small-box bg-success">#}
{#                        <div class="inner">#}
{#                            <h3>{{  project.name }}</h3>#}
{##}
{#                            <p>Nombre del projecto</p>#}
{#                        </div>#}
{#                        <div class="icon">#}
{#                            <i class="ion ion-stats-bars"></i>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                </div>#}
{#                <!-- ./col -->#}
{#                <div class="col-lg-3 col-6">#}
{#                    <!-- small box -->#}
{#                    <div class="small-box bg-warning">#}
{#                        <div class="inner">#}
{#                            <h3 class="text-white"> {{ project.created_at.date }}</h3>#}
{##}
{#                            <p class="text-white">Fecha de creacion</p>#}
{#                        </div>#}
{#                        <div class="icon">#}
{#                            <i class="ion ion-bag"></i>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <!-- ./col -->#}
{#                <div class="col-lg-3 col-6">#}
{#                    <!-- small box -->#}
{#                    <div class="small-box bg-danger">#}
{#                        <div class="inner">#}
{#                            <h3>-</h3>#}
{##}
{#                            <p>Acciones</p>#}
{#                        </div>#}
{#                        <div class="icon">#}
{#                            <i class="ion ion-pie-graph"></i>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                </div>#}
{#                <!-- ./col -->#}
{#            </div>#}
        </div>
    </section>

{% endblock %}
