{% extends 'base/app.html' %}

{% load static %}

{% block title %}
    | Sprints
{% endblock %}

{% block sidebar %}
    {% include 'projects/base/partials/nav.html' %}
{% endblock %}

{% block active_section %}
    <span id="active-section" data-value="sprint"></span>
{% endblock %}


{% block content %}

    <!-- Main content -->
    <section class="content">
        {% include 'base/components/success-message.html' %}

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Sprints</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <a href="{% url 'sprints.create_sprint' id_project %}">
                        <button class="btn btn-primary btn-sm" {% if exists_planning %} disabled {% endif %}>
                            <i class="fas fa-plus"></i>
                            Crear
                        </button>
                    </a>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap projects">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Miembros</th>
                            <th>Estado</th>
                            <th>Duración</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for sprint in sprints %}
                            <tr>
                                <td>{{ sprint.number }}</td>
                                <td>
                                    <a>{{ sprint.sprint_name }}</a>
                                    <br/>
                                    <small>Created {{ sprint.created_at.date }}</small>
                                </td>
                                <td>
                                    <ul class="list-inline">
                                        {% for user in sprint.members.values %}
                                            <li class="list-inline-item">
                                                <img alt="Avatar" class="table-avatar"
                                                     src="{% static "lib/adminlte-3.2.0/img/avatar.png" %}">
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>

                                <td>
                                    <span class="badge
                                    {% if sprint.status == 'success' %}
                                        badge-success
                                    {% elif sprint.status == 'pending' %}
                                        badge-warning
                                    {% elif sprint.status == 'canceled' %}
                                        badge-danger
                                    {% elif sprint.status == 'in execution' %}
                                        badge-info
                                    {% endif %}">{{ sprint.status.capitalize }}</span>
                                </td>
                                <td>{{ sprint.duration }} días</td>
                                <td class="d-flex" style="gap: 5px">
                                    <a class="btn btn-primary btn-sm" href="{% url 'sprints.dashboard' id_project sprint.id %}">
                                        <i class="fas fa-folder">
                                        </i>
                                        Ver
                                    </a>
                                    {% if sprint.status != 'canceled' %}
                                        <form class="m-0 p-0" method="post"
                                              action="{% url 'sprints.edit_sprint' id_project sprint.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-info btn-sm">
                                                <i class="fas fa-pencil-alt">
                                                </i>
                                                Editar
                                            </button>
                                        </form>
                                        {% if sprint.status == 'pending' %}
                                            <form class="m-0 p-0"
                                                  action="{% url 'sprints.init_sprint' id_project sprint.id %}">
                                                <button type="submit" class="btn btn-success btn-sm">
                                                    <i class="fa fa-play" aria-hidden="true"></i>
                                                    Iniciar
                                                </button>
                                            </form>
                                        {% endif %}
                                        <form class="m-0 p-0"
                                              action="{% url 'sprints.cancel_sprint' id_project sprint.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger btn-sm">
                                                <i class="fas fa-trash">
                                                </i>
                                                Cancelar
                                            </button>
                                        </form>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->

    </section>

{% endblock %}