{% extends 'base/app.html' %}

{% load static %}
{% load has_perm_project %}

{% block title %}
    | Sprints
{% endblock %}

{% block sidebar %}
    {% include 'projects/base/partials/nav.html' %}
{% endblock %}

{% block active_section %}
    <span id="active-section" data-value="sprint"></span>
{% endblock %}


{% block content %}

    {% has_perm_project user id_project 'Create sprint' as can_create_sprint %}
    {% has_perm_project user id_project 'Cancel sprint' as can_cancel_sprint %}
    {% has_perm_project user id_project 'Update sprint' as can_update_sprint %}
    {% has_perm_project user id_project 'Read sprint' as can_read_sprint %}
    {% has_perm_project user id_project 'Initialize sprint' as can_initialize_sprint %}
    {% has_perm_project user id_project 'Finished sprint' as can_finished_sprint %}

    <!-- Main content -->
    <section class="content">
        {% include 'base/components/success-message.html' %}

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Sprints</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    {% if can_create_sprint and is_visible and not exists_planning %}
                        <a href="{% url 'sprints.create_sprint' id_project %}">
                            <button class="btn btn-primary btn-sm">
                                <i class="fas fa-plus"></i>
                                Crear
                            </button>
                        </a>
                    {% endif %}
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap projects">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Miembros</th>
                            <th>Estado</th>
                            <th>Duración</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for sprint in sprints %}
                            <tr>
                                <td>{{ sprint.number }}</td>
                                <td>
                                    <a>{{ sprint.sprint_name }}</a>
                                    <br/>
                                    <small>Created {{ sprint.created_at.date }}</small>
                                </td>
                                <td>
                                    <ul class="list-inline">
                                        {% for user in sprint.members.values %}
                                            <li class="list-inline-item">
                                                <img alt="Avatar" class="table-avatar"
                                                     src="{% static "lib/adminlte-3.2.0/img/avatar.png" %}">
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>

                                <td>
                                    <span class="badge
                                    {% if sprint.status == 'finished' %}
                                        badge-success
                                    {% elif sprint.status == 'pending' %}
                                        badge-warning
                                    {% elif sprint.status == 'canceled' %}
                                        badge-danger
                                    {% elif sprint.status == 'in execution' %}
                                        badge-info
                                    {% endif %}">{{ sprint.status.capitalize }}</span>
                                </td>
                                <td>{{ sprint.duration }} días</td>
                                <td class="d-flex" style="gap: 5px">
                                    {% if can_read_sprint %}
                                        <a class="btn btn-primary btn-sm"
                                           href="{% url 'sprints.dashboard' id_project sprint.id %}">
                                            <i class="fas fa-folder">
                                            </i>
                                            Ver
                                        </a>
                                    {% endif %}
                                    {% if sprint.status != 'canceled' %}
                                        {% if can_update_sprint and is_visible %}
                                            <form class="m-0 p-0" method="post"
                                                  action="{% url 'sprints.edit_sprint' id_project sprint.id %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-info btn-sm">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>
                                                    Editar
                                                </button>
                                            </form>
                                        {% endif %}
                                        {% if sprint.status == 'pending' and not exists_execution and can_initialize_sprint and is_visible %}
                                            <form class="m-0 p-0"
                                                  action="{% url 'sprints.init_sprint' id_project sprint.id %}">
                                                <button type="submit" class="btn btn-success btn-sm">
                                                    <i class="fa fa-play" aria-hidden="true"></i>
                                                    Iniciar
                                                </button>
                                            </form>
                                        {% endif %}
                                        {% if can_finished_sprint and is_visible and sprint.status != "canceled" and sprint.status != "finished" %}
                                            <form class="m-0 p-0"
                                                  action="{% url 'sprints.cancel_sprint' id_project sprint.id %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger btn-sm">
                                                    <i class="fas fa-trash">
                                                    </i>
                                                    Cancelar
                                                </button>
                                            </form>
                                        {% endif %}
                                        {% if can_finished_sprint and is_visible and sprint.status != "canceled" and sprint.status != "finished" and sprint.status != "pending" %}
                                            <form class="m-0 p-0" method="post"
                                                  action="{% url 'sprints.finished_sprint' id_project %}">
                                                {% csrf_token %}
                                                <input type="hidden" name="id_sprint" value="{{ sprint.id }}" >
                                                <button type="submit" class="btn btn-danger btn-sm">
                                                    <i class="fas fa-trash">
                                                    </i>
                                                    Finalizar
                                                </button>
                                            </form>

                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->

    </section>

    <!--Modal Finish US-->
    <div class="modal fade" id="modal-finish-sprint" data-csrf="{{ csrf_token }}"
         data-url="{% url 'sprints.finished_sprint' id_project %}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Finalizar Sprint</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'sprints.finished_sprint' id_project %}" id="task-form" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <input type="hidden" name="id_sprint">
                        <p>Esta seguro que desea finalizar el sprint?</p>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger" id="btn-finish-sprint">Finalizar</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(function () {
            $('#modal-finish-sprint').on('shown.bs.modal', function (e) {
                //get related target element
                relatedButton = $(e.relatedTarget)
                //get and send user story id attr to the input hidden into the modal
                const sprintId = relatedButton.data('id-sprint')
                $(this).find('input[name="id_sprint"]').val(sprintId)
            });
        });
    </script>
{% endblock %}