{% extends 'base/app.html' %}

{% load static %}
{% load has_perm_project %}
{% block title %}
    | Proyectos
{% endblock %}

{% block sidebar %}
    {% include 'projects/base/partials/nav.html' %}
{% endblock %}

{% block active_section %}
    <span id="active-section" data-value="type_us"></span>
{% endblock %}

{% block content %}
    {% can_edit_type_us type_us.id as ban %}
    <!-- Main content -->
    <section class="content">

        <!--MESSAGES-->
        {% include 'base/components/success-message.html' %}
        <!--MESSAGES END-->

        <form id="form" action="{% url 'type_us.update' id_project type_us.id %}" method="post">
            {% csrf_token %}

            <div class="card card-primary m-2">
                <div class="card-header">
                    <h3 class="card-title">Editar Tipo de Historia de Usuario</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->


                <div class="card-body">
                    <div class="form-group">
                        <label for="name" class="required">Nombre</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Reportes"
                               value="{{ type_us.name }}">
                    </div>

                    <div class="form-group">
                        <label>Prefijo</label>
                        <input type="text" class="form-control" name="prefix" id="prefix" placeholder="rep"
                               value="{{ type_us.prefix }}">
                    </div>
                    {% if not ban %}
                        <label>Flujo</label>
                        <p>{{ type_us.format_flow }}</p>
                    {% endif %}
                    <hr>
                </div>
                <!-- /.card-body -->

                <!-- Flow List -->

                <!--ITEM CLONE-->
                <li class="d-none" id="flow-clone">
                    <!-- drag handle -->
                    <span class="handle">
                              <i class="fas fa-ellipsis-v"></i>
                              <i class="fas fa-ellipsis-v"></i>
                            </span>
                    <!-- checkbox -->

                    <div class="form-control d-inline ml-2">
                        <input type="text" placeholder="To do" value="" class="border-0 bg-transparent">
                    </div>
                    <!-- General tools such as edit or delete-->
                    <div class="tools">
                        <i class="fas fa-trash btn-delete-column"></i>
                    </div>
                </li>

                {% if ban %}
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="ion ion-clipboard mr-1"></i>
                            Columnas/Estados
                        </h3>
                        <button class="btn btn-success float-right" type="button" id="btn-add-column">
                            <i class="fas fa-plus"></i>
                            Agregar
                        </button>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <ul class="todo-list form-group" data-widget="todo-list" id="columns-container">

                            {% for column in flow %}
                                <li class="column-item">
                                    <!-- drag handle -->
                                    <span class="handle">
                                  <i class="fas fa-ellipsis-v"></i>
                                  <i class="fas fa-ellipsis-v"></i>
                                </span>
                                    <!-- checkbox -->

                                    <div class="form-control d-inline ml-2">
                                        <input type="text" placeholder="{{ column }}" value="{{ column }}"
                                               class="border-0 bg-transparent" name="flow[]">
                                    </div>
                                    <!-- General tools such as edit or delete-->
                                    <div class="tools">
                                        {% if forloop.counter > 3 %}
                                            <i class="fas fa-trash btn-delete-column"></i>
                                        {% endif %}

                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}



                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href=" {% url 'type_us.index' id_project %} " class="btn btn-secondary mx-3">Cancelar</a>
                </div>
            </div>

            <!-- /.card -->
        </form>
    </section>

{% endblock %}

{% block scripts %}
    <script src="{% static 'lib/adminlte-3.2.0/plugins/jquery-validation/jquery.validate.min.js' %}"></script>
    <script src="{% static "lib/adminlte-3.2.0/plugins/jquery-validation/additional-methods.min.js" %}"></script>
    <script>
        //validations rules
        $(function () {

            $('#form').validate({
                rules: {
                    name: {
                        required: true,
                        minlength: 4
                    },
                    prefix: {
                        required: true,
                        minlength: 1,
                    },
                    "flow[]": {
                        required: true
                    }

                },
                messages: {
                    name: {
                        required: "El nombre es obligatorio",
                        minlength: "Ingrese un minimo de 4 caracteres"
                    },
                    prefix: {
                        required: "El campo prefijo obligatorio",
                        minlength: "Ingrese un minimo de 1 caracteres",
                    },
                    "flow[]": {
                        required: "Este campo es obligatorio",
                    }

                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });

            /**
             * Add a new column Item
             * */
            $('#btn-add-column').on('click', () => {
                let clone = document.getElementById('flow-clone').cloneNode(true);
                const container = document.getElementById('columns-container')

                //modify attr
                clone.removeAttribute('id');
                $(clone).find('input').attr('name', 'flow[]').attr('required', 'required')
                container.append(clone)

                //add item to the container
                clone.classList.remove('d-none')
                clone.classList.add('column-item')
            });

            $('#columns-container').on('click', '.btn-delete-column', (el) => {

                //remove element
                $(el.target).closest('.column-item').remove()

                //verify if we don't have more elements
                if (!$('#columns-container .column-item').length) {
                    document.getElementById('columns-container').classList.add('d-none')
                }

            });

        });
    </script>
{% endblock %}
