{% extends 'projects/base/app.html' %}

{% load static %}

{% block title %}
    | Backlog
{% endblock %}

{% block content %}
    <br>
    <section class="content">
        {% include 'base/components/success-message.html' %}
        <div class="container-fluid">
            <!-- /.row -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Backlog</h3>
                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <div class="input-group-append">
                                        <a href="{% url 'user_story.create_user_story' id_project %}">
                                            <button class="btn btn-default">
                                                Create User Story
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Business Value</th>
                                    <th>Technical Priority</th>
                                    <th>Final Priority</th>
                                    <th>User Type</th>
                                    <th>Assigned to</th>
                                    <th colspan="2">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user_story in user_stories %}
                                    <tr>
                                        <td>{{ user_story.title }}</td>
                                        <td>{{ user_story.description }}</td>
                                        <td>{{ user_story.business_value }}</td>
                                        <td>{{ user_story.technical_priority }}</td>
                                        <td>X</td>
                                        <td>{{ user_story.us_type.name }} | {{ user_story.us_type.prefix }}</td>
                                        <td>{{ user_story.assigned_to.user.first_name }} {{ user_story.assigned_to.user.last_name }}
                                            | {{ user_story.assigned_to.user.email }}</td>
                                        <td class="d-flex" style="gap: 5px">
                                            <form id="edit_user_story" class="m-0 p-0" method="post"
                                                  action="{% url 'user_story.edit_user_story' id_project %}">
                                                {% csrf_token %}
                                                <input type="hidden" value="{{ user_story.id }}" name="id_user_story">
                                                <button type="submit" class="btn btn-info btn-sm">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>
                                                    Editar
                                                </button>

                                            </form>
                                            <form id="cancelled_user_story" class="m-0 p-0"
                                                  action="{% url 'user_story.cancel_user_story' id_project %}">
                                                {% csrf_token %}
                                                <input type="hidden" value="{{ user_story.id }}" name="id_user_story">
                                                <button type="submit" class="btn btn-danger btn-sm">
                                                    <i class="fas fa-trash">
                                                    </i>
                                                    Cancelar
                                                </button>

                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div>
    </section>
{% endblock %}