{% extends 'base/app.html' %}

{% load static %}
{% load has_perm_project %}

{% block title %}
    | Backlog
{% endblock %}

{% block sidebar %}
    {% include 'projects/base/partials/nav.html' %}
{% endblock %}

{% block active_section %}
    <span id="active-section" data-value="backlog"></span>
{% endblock %}

{% block content %}

    {% has_perm_project user id_project 'Create user_story' as can_create_us %}
    {% has_perm_project user id_project 'Update user_story' as can_update_us %}
    {% has_perm_project user id_project 'Cancel user_story' as can_cancel_us %}

    <br>
    <section class="content">
        {% include 'base/components/success-message.html' %}
        <div class="container-fluid">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="d-flex mb-2 justify-content-between">
                        <div class="col-sm-6">
                            <h1>Backlog</h1>
                        </div>

                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.row -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            {% if can_create_us %}
                                <a class="btn btn-primary btn-sm"
                                   href="{% url 'user_story.create_user_story' id_project %}">
                                    <i class="fas fa-plus">
                                    </i>
                                    Crear US
                                </a>
                            {% endif %}
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                <tr>
                                    <th>Título</th>
                                    <th>Estado Actual</th>
                                    <th>Business Value</th>
                                    <th>Prioridad técnica</th>
                                    <th>Prioridad final</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user_story in user_stories %}
                                    <tr>
                                        <td>{{ user_story.us_type.prefix }}-{{ user_story.title }}</td>
                                        <td><span class="badge
                                            {% current_status user_story.id as status %}
                                            {% if status == 'initial' %}
                                                badge-warning
                                            {% elif  status == 'final' %}
                                                badge-danger
                                            {% else %}
                                                badge-light
                                            {% endif %}">{{ user_story.current_status }}</span></td>
                                        <td>{{ user_story.business_value }}</td>
                                        <td>{{ user_story.technical_priority }}</td>
                                        <td>{{ user_story.final_priority }}</td>
                                        <td class="d-flex" style="gap: 5px">
                                            <a class="btn btn-primary btn-sm"
                                               href="{% url 'user_story.details_user_story' id_project user_story.id %}">
                                                <i class="fas fa-folder">
                                                </i>
                                                Ver
                                            </a>
                                            {% if user_story.current_status != 'canceled' %}
                                                {% if can_update_us %}
                                                    <form id="edit_user_story" class="m-0 p-0" method="post"
                                                          action="{% url 'user_story.edit_user_story' id_project user_story.id %}">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-info btn-sm">
                                                            <i class="fas fa-pencil-alt">
                                                            </i>
                                                            Editar
                                                        </button>
                                                    </form>
                                                {% endif %}
                                                {% if can_cancel_us %}
                                                    <form id="cancel_user_story" class="m-0 p-0" method="post"
                                                          action="{% url 'user_story.cancel_user_story' id_project user_story.id %}">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-danger btn-sm">
                                                            <i class="fas fa-trash">
                                                            </i>
                                                            Cancelar
                                                        </button>
                                                    </form>
                                                {% endif %}
                                                <a class="btn btn-secondary btn-sm" href="{% url 'user_story.history' id_project user_story.id %}" >
                                                <i class="fas fa-history">
                                                </i>
                                            {% endif %}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div>
    </section>
{% endblock %}