{% extends 'base/app.html' %}

{% load static %}

{% block title %}
    | Create User Story
{% endblock %}

{% block sidebar %}
    {% include 'projects/base/partials/nav.html' %}
{% endblock %}

{% block active_section %}
    <span id="active-section" data-value="backlog"></span>
{% endblock %}

{% block content %}
    <!--MESSAGES-->
    {% include 'base/components/success-message.html' %}
    <!--MESSAGES END-->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title"><small>Crear Historia de Usuario</small></h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form id="create_user_story_form" method="post"
                              action="{% url 'user_story.validate_create_user_story' id_project %}">
                            {% csrf_token %}
                            <!-- TEST -->
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <!-- /.form-group -->
                                        <div class="form-group">
                                            <label for="id_title">Título</label>
                                            <input type="text" name="title" class="form-control" id="id_title"
                                                   placeholder="Enter Title" maxlength="100">
                                        </div>
                                        <!-- /.form-group -->
                                        <div class="form-group">
                                            <label for="id_business_value">Business Value</label>
                                            <input type="number" ondrop="return false;" onpaste="return false;"
                                                   onkeypress="return event.charCode>=48 && event.charCode<=57" required
                                                   name="business_value" class="form-control"
                                                   id="id_business_value"
                                                   placeholder="Enter Business Value"
                                                   min="1" max="10">
                                        </div>
                                        <!-- /.form-group -->
                                        <div class="form-group">
                                            <label for="id_estimation_time">Estimación (en horas)</label>
                                            <input type="number" ondrop="return false;" onpaste="return false;"
                                                   onkeypress="return event.charCode>=48 && event.charCode<=57" required
                                                   name="estimation_time" class="form-control"
                                                   id="id_estimation_time"
                                                   placeholder="Enter Estimation Time">
                                        </div>
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-md-6">
                                        <!-- /.form-group -->
                                        <div class="form-group">
                                            <label for="id_description">Descripción</label>
                                            <input type="text" name="description" class="form-control"
                                                   id="id_description"
                                                   placeholder="Enter Description" maxlength="100">
                                        </div>
                                        <!-- /.form-group -->
                                        <div class="form-group">
                                            <label for="id_technical_priority">Prioridad Técnica</label>
                                            <input type="number" ondrop="return false;" onpaste="return false;"
                                                   onkeypress="return event.charCode>=48 && event.charCode<=57" required
                                                   name="technical_priority" class="form-control"
                                                   id="id_technical_priority"
                                                   placeholder="Enter Technical Priority"
                                                   min="1" max="10">
                                        </div>
                                        <!-- /.form-group -->
                                        <div class="form-group">
                                            <label for="id_us_type">Tipo de US</label>
                                            <select class="form-control select2" style="width: 100%;" id="id_us_type"
                                                    name="us_type">
                                                {% for type in type_us %}
                                                    <option value="{{ type.id }}">{{ type.name }}
                                                        | {{ type.prefix }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.card -->
                            <!-- /.card-body -->
                            {% if type_us == None %}
                                <div class="card-footer">
                                    <p>Debe crear al menos un Type US para poder crear un US</p>
                                    <button type="submit" class="btn btn-primary" disabled>Crear</button>
                                </div>
                            {% else %}
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Crear</button>
                                    <a href=" {% url 'user_story.backlog' id_project %} "
                                       class="btn btn-secondary mx-3">Cancelar</a>
                                </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
    </section>
    <!-- /.content -->
{% endblock %}

{% block scripts %}
    <script>
        const id_business_value = document.querySelector('#id_business_value')
        const id_technical_priority = document.querySelector('#id_technical_priority')

        id_business_value.addEventListener('input', validate)

        id_technical_priority.addEventListener('input', validate)

        function validate (evt) {
            const value = evt.target.value
            if (value < 1 || value > 10) {
                evt.target.value = 1
            }
        }

    </script>
{% endblock %}