{% extends 'base/app.html' %}

{% load static %}

{% block title %}
    | Create User Story
{% endblock %}

{% block sidebar %}
    {% include 'projects/base/partials/nav.html' %}
{% endblock %}

{% block active_section %}
    <span id="active-section" data-value="backlog"></span>
{% endblock %}

{% block content %}
    <!--MESSAGES-->
    {% include 'base/components/success-message.html' %}
    <!--MESSAGES END-->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Historia de Usuario</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form id="create_user_story_form">
                            <input type="hidden" value="{{ user_story.id }}"
                                   name="id_user_story">
                            <!-- TEST -->
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <!-- /.form-group -->
                                        <div class="form-group">
                                            <label for="id_title">Título</label>
                                            <input type="text" name="title" class="form-control" id="id_title"
                                                   placeholder="Enter Title" maxlength="100"
                                                   value="{{ user_story.title }}" disabled>
                                        </div>
                                        <!-- /.form-group -->
                                        <div class="form-group">
                                            <label for="id_business_value">Business Value</label>
                                            <input type="number" ondrop="return false;" onpaste="return false;"
                                                   onkeypress="return event.charCode>=48 && event.charCode<=57" required
                                                   name="business_value" class="form-control"
                                                   id="id_business_value"
                                                   value="{{ user_story.business_value }}" disabled>
                                        </div>
                                        <!-- /.form-group -->
                                        <div class="form-group">
                                            <label for="id_estimation_time">Estimación</label>
                                            <input type="number" ondrop="return false;" onpaste="return false;"
                                                   onkeypress="return event.charCode>=48 && event.charCode<=57" required
                                                   name="estimation_time" class="form-control"
                                                   id="id_estimation_time"
                                                   value="{{ user_story.estimation_time }}" disabled>
                                        </div>
                                        {% if user_story.assigned_to.user != None %}
                                            <!-- /.form-group -->
                                            <div class="form-group">
                                                <label for="id_assigned_to">Asignado a</label>
                                                <input type="text" ondrop="return false;" onpaste="return false;"
                                                       onkeypress="return event.charCode>=48 && event.charCode<=57"
                                                       required
                                                       name="assigned_to" class="form-control"
                                                       id="id_assigned_to"
                                                       value="{{ user_story.assigned_to.user.username }} | {{ user_story.assigned_to.user.first_name }} {{ user_story.assigned_to.user.last_name }} | {{ user_story.assigned_to.user.email }}"
                                                       disabled>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-md-6">
                                        <!-- /.form-group -->
                                        <div class="form-group">
                                            <label for="id_description">Descripción</label>
                                            <input type="text" name="description" class="form-control"
                                                   id="id_description"
                                                   value="{{ user_story.description }}" disabled>
                                        </div>
                                        <!-- /.form-group -->
                                        <div class="form-group">
                                            <label for="id_technical_priority">Prioridad Técnica</label>
                                            <input type="number" ondrop="return false;" onpaste="return false;"
                                                   onkeypress="return event.charCode>=48 && event.charCode<=57" required
                                                   name="technical_priority" class="form-control"
                                                   id="id_technical_priority"
                                                   value="{{ user_story.technical_priority }}" disabled>
                                        </div>
                                        <!-- /.form-group -->
                                        <div class="form-group">
                                            <label for="id_us_type">User Type</label>
                                            <input type="text" ondrop="return false;" onpaste="return false;"
                                                   name="us_type" class="form-control"
                                                   id="id_us_type"
                                                   value="{{ user_story.us_type.name }} | {{ user_story.us_type.prefix }}"
                                                   disabled>
                                        </div>
                                        {% if user_story.cancellation_reason != None %}
                                            <!-- /.form-group -->
                                            <div class="form-group">
                                                <label for="id_cancellation_reason">Motivo de la cancelación</label>
                                                <input type="text" ondrop="return false;" onpaste="return false;"
                                                       name="cancellation_reason" class="form-control"
                                                       id="id_cancellation_reason"
                                                       value="{{ user_story.cancellation_reason }}"
                                                       disabled>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.card -->
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <a href=" {% url 'user_story.backlog' id_project %} "
                                   class="btn btn-secondary mx-3">Atrás</a>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
    </section>
    <!-- /.content -->
{% endblock %}