{% load static %}
{% load has_perm_system %}
<!-- Sidebar Menu -->
<nav class="mt-2">
    {% if user.role.all.count != 0 %}

        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            {% has_perm_system user 'Read user' as ban %}
            {% if ban %}
                <li class="nav-item">
                    <a href="{% url 'accounts.index' %}" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Usuarios</p>
                    </a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a href="{% url 'projects.index' %} " class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>Proyectos</p>
                </a>
            </li>
            {% has_perm_system user 'Read role' as ban %}
            {% if ban %}
                <li class="nav-item">
                    <a href="{% url 'gestionar_roles.index' %} " class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Roles de sistema</p>
                    </a>
                </li>
            {% endif %}
        </ul>
    {% endif %}

</nav>
<!-- /.sidebar-menu -->