{% extends 'base/app.html' %}

{% load static %}

{% block title %}
    | User Story del Sprint
{% endblock %}

{% block styles %}
    {# SELECT2   #}
    <link rel="stylesheet" href="{% static "lib/adminlte-3.2.0/plugins/select2/css/select2.min.css" %}">
    <link rel="stylesheet"
          href="{% static "lib/adminlte-3.2.0/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" %}">
    <!-- Ekko Lightbox -->
    <link rel="stylesheet" href="{% static "lib/adminlte-3.2.0/plugins/ekko-lightbox/ekko-lightbox.css" %}">
    <link rel="stylesheet"
          href="{% static "lib/adminlte-3.2.0/plugins/overlayScrollbars/css/OverlayScrollbars.min.css" %}">
{% endblock %}

{% block sidebar %}
    {% include 'sprint/base/partials/nav.html' %}
{% endblock %}

{% block active_section %}
    <span id="active-section" data-value="sprint_backlog"></span>
{% endblock %}

{% block content %}

    {% include 'base/components/success-message.html' %}

    <section class="content">
        <div class="container-fluid">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Adjuntar Historia de usuario al sprint backlog</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Proyecto | Sprint | US</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
        </div>
    </section>
    <!--UI COMPONENT -->

    <section class="content">
        <div class="d-flex justify-content-center h-100 multi-select-list-container" style="gap:8px">
            <div class="card card-secondary col-sm-12 col-md-5 px-0" id="first-select-list">
                <div class="card-header">
                    <h3 class="card-title w-100">
                        Backlog
                    </h3>
                </div>
                <div class="card-body backlog" id="accordion">

                    {% for us in user_stories %}
                        {% if  us.assigned_to_id == nil %}

                            <!--HISTORIA DE USUARIO -->
                            <div class="card card-info card-outline user-story">
                                <div class="card-header d-flex">
                                    <h4 class="card-title w-100">
                                        <a class="d-block w-100 link-muted font-weight-bold" data-toggle="collapse"
                                           href="#collapseOne{{ forloop.counter }}">
                                            {{ us.title }}
                                        </a>
                                    </h4>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-info mr-1 btn-move-to-left" disabled
                                                data-us-id="{{ us.id }}">
                                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                        </button>
                                        <button type="button" class="btn btn-info btn-move-to-right"
                                                data-us-id="{{ us.id }}">
                                            <i class="fa fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </div>
                                <div id="collapseOne{{ forloop.counter }}" class="collapse" data-parent="#accordion">
                                    <div class="card-body">

                                        <dl>
                                            <!--Description -->
                                            <dt>Descripcion</dt>
                                            <dd class="">
                                                <p>
                                                    {{ us.description }}
                                                </p>
                                            </dd>


                                            <!--Assigned to-->
                                            <dt>Encargado del US</dt>
                                            <dd class="form-group">
                                                <select class="form-control" name="id_member" required>
                                                    <option value="">Seleccionar</option>
                                                    {% for member in members %}
                                                        <option value="{{ member.id }}">
                                                            {{ member.user.username }}
                                                            | {{ member.user.first_name }} {{ member.user.last_name }}
                                                            | {{ member.user.email }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </dd>

                                            <!--Business Value -->
                                            <dt>Business Value</dt>
                                            <dd class="">
                                                <p>
                                                    {{ us.business_value }}
                                                </p>
                                            </dd>

                                            <!--Estimacion -->
                                            <dt>Estimación (en horas)</dt>
                                            <dd class="">
                                                <p>
                                                    {{ us.estimation_time }} hrs
                                                </p>
                                            </dd>

                                            <!--Priority -->
                                            <dt>Prioridad Técnica</dt>
                                            <dd class="">
                                                <p>
                                                    {{ us.technical_priority }}
                                                </p>
                                            </dd>

                                            <!--US type -->
                                            <dt>Tipo de US</dt>
                                            <dd class="">
                                                <p>{{ us.us_type.name }}</p>
                                            </dd>
                                            <dt>Flujo</dt>
                                            <dd class="">
                                                <p>{{ us.us_type.format_flow }}</p>
                                            </dd>


                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <!--END OF HISTORIA DE USUARIO -->

                        {% endif %}
                    {% endfor %}


                </div>
            </div>


            <div class="card card-row card-primary col-sm-12 col-md-5 px-0" id="secondary-select-list">
                <div class="card-header">
                    <h3 class="card-title">
                        Sprint Backlog
                    </h3>
                </div>
                <div class="card-body sprint_backlog" id="accordion">
                    {% for us in user_stories %}
                        {% if us.assigned_to_id != nil %}

                            <!--HISTORIA DE USUARIO -->
                            <div class="card card-info card-outline user-story">
                                <div class="card-header d-flex">
                                    <h4 class="card-title w-100">
                                        <a class="d-block w-100 link-muted font-weight-bold" data-toggle="collapse"
                                           href="#collapseOne{{ forloop.counter }}">
                                            {{ us.title }}
                                        </a>
                                    </h4>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-info mr-1 btn-move-to-left"
                                                data-us-id="{{ us.id }}">
                                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                        </button>
                                        <button type="button" class="btn btn-info btn-move-to-right" disabled
                                                data-us-id="{{ us.id }}">
                                            <i class="fa fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </div>
                                <div id="collapseOne{{ forloop.counter }}" class="collapse" data-parent="#accordion">
                                    <div class="card-body">

                                        <dl>
                                            <!--Description -->
                                            <dt>Descripcion</dt>
                                            <dd class="">
                                                <p>
                                                    {{ us.description }}
                                                </p>
                                            </dd>


                                            <!--Assigned to-->
                                            <dt>Encargado del US</dt>
                                            <dd class="form-group">
                                                <select class="form-control" name="id_member" required disabled>
                                                    <option value="">Seleccionar</option>
                                                    {% for member in members %}
                                                        <option value="{{ member.id }}"
                                                                {% if member.id == us.assigned_to_id %}
                                                                selected
                                                                {% endif %}
                                                        >
                                                            {{ member.user.username }}
                                                            | {{ member.user.first_name }} {{ member.user.last_name }}
                                                            | {{ member.user.email }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </dd>

                                            <!--Business Value -->
                                            <dt>Business Value</dt>
                                            <dd class="">
                                                <p>
                                                    {{ us.business_value }}
                                                </p>
                                            </dd>

                                            <!--Estimacion -->
                                            <dt>Estimación (en horas)</dt>
                                            <dd class="">
                                                <p>
                                                    {{ us.estimation_time }} hrs
                                                </p>
                                            </dd>

                                            <!--Priority -->
                                            <dt>Prioridad Técnica</dt>
                                            <dd class="">
                                                <p>
                                                    {{ us.technical_priority }}
                                                </p>
                                            </dd>

                                            <!--US type -->
                                            <dt>Tipo de US</dt>
                                            <dd class="">
                                                <p>{{ us.us_type.name }}</p>
                                            </dd>
                                            <dt>Flujo</dt>
                                            <dd class="">
                                                <p>{{ us.us_type.format_flow }}</p>
                                            </dd>


                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <!--END OF HISTORIA DE USUARIO -->

                        {% endif %}
                    {% endfor %}

                </div>
            </div>


        </div>
    </section>


    <!--UI COMPONENT -->




{% endblock %}


{% block scripts %}
    <!-- Select2 -->
    <script src="{% static "lib/adminlte-3.2.0/plugins/select2/js/select2.full.min.js" %}"></script>
    <script src="{% static 'lib/adminlte-3.2.0/plugins/jquery-validation/jquery.validate.min.js' %}"></script>
    <script src="{% static "lib/adminlte-3.2.0/plugins/jquery-validation/additional-methods.min.js" %}"></script>
    <script src="{% static "lib/adminlte-3.2.0/plugins/ekko-lightbox/ekko-lightbox.min.js" %}"></script>
    <script src="{% static "lib/adminlte-3.2.0/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js" %}"></script>
    <script src="{% static "lib/adminlte-3.2.0/js/adminlte.min.js" %}"></script>
    <script src="{% static "lib/adminlte-3.2.0/plugins/filterizr/jquery.filterizr.min.js" %}"></script>

    <script defer>
        //validations rules
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2();

            /**
             * validations for widget
             **/

            const btnLeft = document.querySelectorAll('.btn-move-to-left');
            const btnRight = document.querySelectorAll('.btn-move-to-right');
            const spanError = document.createElement('span');
            const backlog = document.querySelector('.backlog');
            const sprint_backlog = document.querySelector('.sprint_backlog');
            let Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 5000
            });

            spanError.classList.add('text-danger', 'invalid-feedback')

            btnLeft.forEach(e => {
                e.addEventListener('click', getBackToBacklog);
            });
            btnRight.forEach(e => {
                e.addEventListener('click', moveToSprintBacklog);
            });


            function moveToSprintBacklog() {
                //assigned to shouldn't be null
                const selectMember = this.closest('div.user-story').querySelector('select[name="id_member"]')
                const btn = this;
                if (!selectMember.value) {
                    //add error
                    const error = spanError.cloneNode()
                    error.innerHTML = "Debe seleccionar un miembro"
                    selectMember.closest('.form-group').append(error)
                    selectMember.classList.add('is-invalid')
                    return;
                }

                //remove error
                selectMember.classList.remove('is-invalid')
                selectMember.nextElementSibling?.remove()

                //add us to the sprint backlog
                $.ajax("{% url 'sprints.sprint_backlog.store' id_project id_sprint %}", {
                    type: 'POST',
                    data: {
                        id_user_story: this.getAttribute('data-us-id'),
                        id_member: selectMember.value,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (data, status, xhr) {
                        //move card to the sprint backlog
                        const us = btn.closest('div.user-story')
                        sprint_backlog.appendChild(us)

                        //disabled select in sprint backlog
                        selectMember.setAttribute('disabled', true)

                         //disabled button
                        btn.setAttribute('disabled', true)
                        btn.previousElementSibling.removeAttribute('disabled')


                        //fire alert success
                        toastr.success(data?.message)
                    },
                    error: function (jqXhr, textStatus, errorMessage) {
                        console.log(jqXhr)
                        //fire alert success
                        toastr.error("No se pudo adjuntar el US al sprint backlog")
                    }
                });
            }

            function getBackToBacklog() {
                const selectMember = this.closest('div.user-story').querySelector('select[name="id_member"]')
                const btn = this;

                //remove us to the sprint backlog
                $.ajax("{% url 'sprints.sprint_backlog.delete' id_project id_sprint %}", {
                    type: 'POST',
                    data: {
                        user_story_id: btn.getAttribute('data-us-id'),
                        is_ajax: true,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (data, status, xhr) {
                        //move card to the sprint backlog
                        const us = btn.closest('div.user-story')
                        backlog.appendChild(us)

                        //disabled button
                        btn.setAttribute('disabled', true)
                        btn.nextElementSibling.removeAttribute('disabled')

                        //enable select
                        selectMember.removeAttribute('disabled')

                        //fire alert success
                        toastr.success(data?.message)
                    },
                    error: function (jqXhr, textStatus, errorMessage) {
                        console.log(jqXhr)
                        //fire alert success
                        toastr.error( "No se pudo desadjuntar el US del sprint backlog")
                    }
                });

            }
        });


    </script>
{% endblock %}