{% extends 'base/app.html' %}
{% load static %}
{% load has_perm_project %}

{% block title %}
    | Sprint backlog
{% endblock %}

{% block sidebar %}
    {% include 'sprint/base/partials/nav.html' %}
{% endblock %}

{% block active_section %}
    <span id="active-section" data-value="sprint_backlog"></span>
{% endblock %}

{% block content %}
    {% has_perm_project user id_project 'Create sprint_backlog' as can_create_sprint_backlog %}
    {% has_perm_project user id_project 'Delete sprint_backlog' as can_delete_sprint_backlog %}
    {% has_perm_project user id_project 'Update user_story' as can_update_us %}
    <br>
    <section class="content">
        {% include 'base/components/success-message.html' %}
        <div class="container-fluid">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="d-flex mb-2 justify-content-between">
                        <div class="col-sm-6">
                            <h1>Sprint Backlog</h1>
                        </div>

                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- /.row -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">

                            {% if can_create_sprint_backlog %}
                                <a class="btn btn-primary btn-sm"
                                   href="{% url 'sprints.sprint_backlog.add' id_project id_sprint %}">
                                    <i class="fas fa-plus">
                                    </i>
                                    Agregar
                                </a>
                            {% endif %}
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover text-nowrap">
                                    <thead>
                                    <tr>
                                        <th>Título</th>
                                        <th>Estado Actual</th>
                                        <th>Business Value</th>
                                        <th>Prioridad técnica</th>
                                        <th>Prioridad final</th>
                                        <th>Responsable</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for user_story in sprint_backlog %}
                                        <tr>
                                            <td>{{ user_story.us_type.prefix }}-{{ user_story.title }}</td>
                                            <td><span class="badge
                                            {% current_status user_story.id as status %}
                                            {% if status == 'initial' %}
                                                badge-warning
                                            {% elif  status == 'final' %}
                                                badge-danger
                                            {% else %}
                                                badge-light
                                            {% endif %}">{{ user_story.current_status }}</span></td>
                                            <td>{{ user_story.business_value }}</td>
                                            <td>{{ user_story.technical_priority }}</td>
                                            <td>{{ user_story.final_priority }}</td>
                                            <td>{{ user_story.assigned_to.user.email }}</td>
                                            <td class="d-flex" style="gap: 5px">
                                                <a class="btn btn-primary btn-sm"
                                                   href="{% url 'sprints.sprint_backlog.details' id_project id_sprint user_story.id %}">
                                                    <i class="fas fa-folder">
                                                    </i>
                                                    Ver
                                                </a>

                                                {% if can_update_us %}
                                                    <form id="edit_user_story" class="m-0 p-0" method="post"
                                                          action="{% url 'sprints.sprint_backlog.edit' id_project id_sprint user_story.id %}">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-info btn-sm">
                                                            <i class="fas fa-pencil-alt">
                                                            </i>
                                                            Editar
                                                        </button>
                                                    </form>
                                                {% endif %}

                                                {% if can_delete_sprint_backlog %}
                                                    <form id="cancel_user_story" class="m-0 p-0" method="post"
                                                          action="{% url 'sprints.sprint_backlog.delete' id_project id_sprint user_story.id %}">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-danger btn-sm">
                                                            <i class="fas fa-trash">
                                                            </i>
                                                            Desadjuntar
                                                        </button>
                                                    </form>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    {% if sprint_backlog.count == 0 %}
                                        <tr class="text-center">
                                            <td colspan="6"><span
                                                    class="text-danger">Aun no posees ningun registro!</span>
                                            </td>
                                        </tr>

                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>
    </section>

{% endblock %}