{% extends 'base/app.html' %}

{% load static %}

{% block title %}
    | Miembros del Sprint
{% endblock %}

{% block styles %}
    {# SELECT2   #}
    <link rel="stylesheet" href="{% static "lib/adminlte-3.2.0/plugins/select2/css/select2.min.css" %}">
    <link rel="stylesheet"
          href="{% static "lib/adminlte-3.2.0/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" %}">
{% endblock %}

{% block sidebar %}
    {% include 'sprint/base/partials/nav.html' %}
{% endblock %}

{% block active_section %}
    <span id="active-section" data-value="members"></span>
{% endblock %}

{% block content %}
    <br>
    <section class="content">
        {% include 'base/components/success-message.html' %}

        <div class="card card-primary m-2">
            <div class="card-header">
                <h3 class="card-title">Cambiar Miembro</h3>
            </div>
            <!-- /.card-header -->

            <div class="card-body">
                <div class="form-group">
                    <label>Miembro a ser cambiado</label>
                    <input type="text" ondrop="return false;" onpaste="return false;"
                           onkeypress="return event.charCode>=48 && event.charCode<=57" required
                           class="form-control" disabled min="0" max="12"
                           value="{{ member.user.username }} | {{ member.user.first_name }} {{ member.user.last_name }} | {{ member.user.email }}">
                </div>
            </div>

            <!-- form start -->
            <form id="createProjectForm" action="{% url 'sprints.members.validate.change' id_project id_sprint %}"
                  method="post">
                {% csrf_token %}

                <input type="hidden" value="{{ member.id }}" name="member_to_remove" id="member_to_remove_id">

                <div class="card-body">
                    <div class="form-group">
                        <label for="name" class="required">Nuevo miembro</label>
                        <select class="form-control" name="user_id" required>
                            {% for u in users_sprint %}
                                <option value="{{ u.id }}">
                                    {{ u.username }} | {{ u.first_name }} {{ u.last_name }} | {{ u.email }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- /.form-group -->
                    <div class="form-group">
                        <label for="id_workload">Capacidad de trabajo (en horas/dia)</label>
                        <input type="number" ondrop="return false;" onpaste="return false;"
                               onkeypress="return event.charCode>=48 && event.charCode<=57" required
                               name="workload" class="form-control" id="id_workload" disabled
                               min="0" max="12" value="{{ member.workload }}">
                    </div>

                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Cambiar</button>
                    <a href=" {% url 'sprints.members.index' id_project id_sprint %} "
                       class="btn btn-secondary mx-3">Cancelar</a>
                </div>
            </form>
        </div>

    </section>

{% endblock %}


{% block scripts %}
    <!-- Select2 -->
    <script src="{% static "lib/adminlte-3.2.0/plugins/select2/js/select2.full.min.js" %}"></script>
    <script src="{% static 'lib/adminlte-3.2.0/plugins/jquery-validation/jquery.validate.min.js' %}"></script>
    <script src="{% static "lib/adminlte-3.2.0/plugins/jquery-validation/additional-methods.min.js" %}"></script>
    <script>
        //validations rules
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2();

            $('#createProjectForm').validate({
                rules: {
                    user_id: {
                        required: true
                    },
                    'roles[]': {
                        required: true
                    }

                },
                messages: {
                    user_id: {
                        required: "Debe seleccionar un miembro"
                    },
                    'roles[]': {
                        required: "Debe seleccionar al menos un rol"
                    }
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });
    </script>
{% endblock %}