{% extends 'sprint/base/app.html' %}
{% load static %}
{% load has_perm_project %}

{% block title %}
    | Miembros del Sprint
{% endblock %}

{% block sidebar %}
    {% include 'sprint/base/partials/nav.html' %}
{% endblock %}

{% block active_section %}
    <span id="active-section" data-value="members"></span>
{% endblock %}

{% block content %}
    {% has_perm_project user id_project 'Create sprintmember' as can_create %}
    {% has_perm_project user id_project 'Update sprintmember' as can_edit %}
    {% has_perm_project user id_project 'Delete sprintmember' as can_delete %}
    <br>
    <section class="content">
        {% include 'base/components/success-message.html' %}
        <div class="container-fluid">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="d-flex mb-2 justify-content-between">
                        <div class="col-sm-6">
                            <h1>Miembros del Sprint</h1>
                        </div>
                    </div>
                    {% if team_capacity != 0 %}
                        <!-- Info boxes -->
                        <div class="row">
                            <div class="col-16 col-sm-6 col-md-3">
                                <div class="info-box">
                                        <span class="info-box-icon bg-info elevation-1">
                                            <i class="fas fa-users-cog"></i>
                                        </span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Capacidad del equipo</span>
                                        <span class="info-box-number">{{ team_capacity }} horas diaras</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    {% endif %}
                </div><!-- /.container-fluid -->
            </section>

            <!-- /.row -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">

                            {% if can_create %}
                                <a class="btn btn-primary btn-sm"
                                   href="{% url 'sprints.members.add' id_project id_sprint %}">
                                    <i class="fas fa-plus">
                                    </i>
                                    Agregar
                                </a>
                            {% endif %}
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->

                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Workload</th>
                                    <th colspan="2">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for member in members %}
                                    <tr>
                                        <td> {{ member.user.username }}</td>
                                        <td> {{ member.user.email }}</td>
                                        <td> {{ member.workload }}</td>

                                        <td class="d-flex" style="gap: 5px">

                                            {% if can_edit %}
                                                <a class="btn btn-info btn-sm"
                                                   href="{% url 'sprints.members.edit' id_project id_sprint member.id %}">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>
                                                    Editar
                                                </a>
                                            {% endif %}

                                            {% if can_delete %}
                                                <form action="{% url 'sprints.members.delete' id_project id_sprint member.id %}"
                                                      method="post">
                                                    {% csrf_token %}
                                                    <button class="btn btn-danger btn-sm">
                                                        <i class="fas fa-trash">
                                                        </i>
                                                        Eliminar
                                                    </button>
                                                </form>
                                            {% endif %}

                                        </td>
                                    </tr>
                                {% endfor %}
                                {% if members.count == 0 %}
                                    <tr class="text-center">
                                        <td colspan="6"><span
                                                class="text-danger">Aun no posees ningun registro!</span>
                                        </td>
                                    </tr>

                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div>
    </section>

{% endblock %}